#trash{
    width: 20px; 
    float: right;
    margin-right: 10px; 
    margin-top: 15px;
  
}

#box{
   
  float: left;
  margin-top: 17px;
} 

#text{
 
    margin-left: 30px;
    padding: 0%; 
    display: inline-flex;
    text-align: center;
  
}
div{
  margin-top: 2px;
      width: 400px;
    border: 2px solid rgb(162, 161, 161);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
       
}
body{
    margin-left: 80px;
    font-family: "Lucida Console"; 
    background-color: rgb(238, 238, 238);
}

h2{
    
    color: rgb(202, 202, 202);
    font-family: "Lucida Console"
       
}

#input{
    float: left;
    background-color: aliceblue;

}

#new{
    float: right;
    margin-right: 76%;
    background-color: aliceblue;
} 
input[type=text]{
    border-radius:10px;
  }
  button{
    border-radius: 10px;
  }